
.title {
    color : Red;
}
.container {
    display: flex;  
    height: 100vh;
}
.banner{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.sectionleft{
  flex: 1;
}
.sectionright{
    background-color: rgb(92, 88, 88);
    display: flex;
    align-items: center;    
}